<p id="notice"><%= notice %></p>

<p>
  <b>Idea:</b>
  <%= @post_idea.idea %>
</p>

<p>
  <b>Date:</b>
  <%= @post_idea.date %>
</p>

<p>
  <b>Content:</b>
  <%= @post_idea.content %>
</p>


<%= link_to 'Edit', edit_post_idea_path(@post_idea) %> |
<%= link_to 'Back', post_ideas_path %>
